.title {
	font-weight: 500;
}

.display {
	font-size: 50px;
	font-weight: 500;
	width: 320px;
	height: 120px;
	margin: auto;
}

.buttons {
	background-color: rgb(49, 49, 49);
	border-color: rgb(49, 49, 49);
	font-weight: 500;
	font-size: 29px;
	height: 75px;
	width: 75px;
	margin: 0.25rem;
}

.buttonsOrange {
	background-color: rgb(16, 169, 250);
	border-color: rgb(16, 169, 250);
	font-weight: 500;
	font-size: 29px;
	height: 75px;
	width: 75px;
	margin: 0.25rem;
}

.buttonsGray {
	background-color: rgb(160, 160, 160);
	border-color: rgb(160, 160, 160);
	color: black;
	font-weight: 500;
	font-size: 29px;
	height: 75px;
	width: 75px;
	margin: 0.25rem;
}

@media only screen and (max-width: 375px) {
	.buttons {
		background-color: rgb(49, 49, 49);
		border-color: rgb(49, 49, 49);
		font-weight: 500;
		font-size: 29px;
		height: 65px;
		width: 65px;
		margin: 0.25rem;
	}

	.buttonsZero {
		background-color: rgb(49, 49, 49);
		border-color: rgb(49, 49, 49);
		font-weight: 500;
		font-size: 29px;
		height: 65px;
		margin: 0.25rem;
	}

	.buttonsOrange {
		background-color: rgb(16, 169, 250);
		border-color: rgb(16, 169, 250);
		font-weight: 500;
		font-size: 29px;
		height: 65px;
		width: 65px;
		margin: 0.25rem;
	}

	.buttonsGray {
		background-color: rgb(160, 160, 160);
		border-color: rgb(160, 160, 160);
		color: black;
		font-weight: 500;
		font-size: 29px;
		height: 65px;
		width: 65px;
		margin: 0.25rem;
	}
}

@media only screen and (min-width: 376px) and (max-width: 429px) {
	.buttons {
		background-color: rgb(49, 49, 49);
		border-color: rgb(49, 49, 49);
		font-weight: 500;
		font-size: 29px;
		height: 70px;
		width: 70px;
		margin: 0.25rem;
	}

	.buttonsOrange {
		background-color: rgb(16, 169, 250);
		border-color: rgb(16, 169, 250);
		font-weight: 500;
		font-size: 29px;
		height: 70px;
		width: 70px;
		margin: 0.25rem;
	}

	.buttonsGray {
		background-color: rgb(160, 160, 160);
		border-color: rgb(160, 160, 160);
		color: black;
		font-weight: 500;
		font-size: 29px;
		height: 70px;
		width: 70px;
		margin: 0.25rem;
	}
}

@media only screen and (max-width: 320px) {
	.buttons {
		background-color: rgb(49, 49, 49);
		border-color: rgb(49, 49, 49);
		font-weight: 500;
		font-size: 29px;
		height: 60px;
		width: 60px;
		margin: 0.25rem;
	}

	.buttonsOrange {
		background-color: rgb(16, 169, 250);
		border-color: rgb(16, 169, 250);
		font-weight: 500;
		font-size: 29px;
		height: 60px;
		width: 60px;
		margin: 0.25rem;
	}

	.buttonsGray {
		background-color: rgb(160, 160, 160);
		border-color: rgb(160, 160, 160);
		color: black;
		font-weight: 500;
		font-size: 29px;
		height: 60px;
		width: 60px;
		margin: 0.25rem;
	}
}

@media only screen and (max-width: 429px) {
	.display {
		font-size: 45px;
		width: 270px;
		height: 150px;
		margin: auto;
	}
}
